# Configurazione Server
PORT=3000
SESSION_SECRET=supersegreto123

# Configurazione Email (Lasciare vuoto o dummy per simulare l'invio nel terminale in fase di sviluppo)
EMAIL_USER=tuamail@gmail.com
EMAIL_PASS=inserisci_password_qui
